*{
    margin: 0;
    padding: 0;
}
.input{
    margin: 0 auto;
}
.form-item{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    height: 50px;
}
.form-item label{
    width: 10%;
    min-width: 150px;
}
.form-item input{
    width: 60%;
    height: 35px;
    border-radius: 5px;
}
.form span{
    width: 70%;
    margin-left: 20%;
}
.avartar{
    width: 100px;
    height: 100px;
    border-radius: 50% ;
    border: 3px solid #BADA55;
    text-align: center;
    margin:0 auto;
    display: block;
}
.profile-pic{
    width: inherit;
    height: inherit;
    border-radius: 50% ;
}
.avartar    p{
    padding-top: 40px;
}
.button{
    display: flex;
    justify-content: space-around;
}
.form-result{
    display: flex;
    width: 80%;
    margin: 0 auto;
    border-radius: 0;
    border: solid 1px black;
    align-items: center;
    padding: 25px 0 70px 0;
    margin-bottom: 30px;
    margin-top: 30px;
}
.form-result .result{
    width: 70%;

}
.invalid {
    border-radius: 0;
    border: 1px solid red;
}
.form-error{
    color: red;
}
#add,#clear{
    width: 110px;
    height: 50px;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;  
}
#add{
    background-color:green;
}
#clear{
    background-color: red;
}
table tr td {
    padding-left: 30px;
    line-height: 30px;
}
@media screen and (max-width: 768px){
    .form-result{
        flex-direction: column;
    }   
}
